/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* == END RESET == */

body {
  font-family: 'PT Mono';/*, 'Andale Mono', 'Courier', 'Circular Std';*/
  font-weight: 100;
  padding: 40px;
  line-height: 1.4;
  font-size: 13px;
}

header {
  margin: 10px 0 60px;
  display: flex;
}

header > div {
  flex: 2;
}

header > p {
  flex: 1;
}

header p {
  font-size: .8em;
  line-height: 1.6;
  padding-top: 2px;
}

section {
  margin: 38px 0;
}

section section {
  margin: 16px 0;
}

h1 {
  font-family: 'Circular Std';
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

h2 { 
  font-size: 1em;
}

section h1 {
  font-size: 1.3em;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.02em;
}

section section h1 {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

section section p {
  font-size: .8em;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

@media print {
  body {
    padding: 0;
  }
}
